@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 357 100% 95%;
    --foreground: 357 5% 0%;
    --card: 357 50% 90%;
    --card-foreground: 357 5% 10%;
    --popover: 357 100% 95%;
    --popover-foreground: 357 100% 0%;
    --primary: 357 60.9% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 357 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 319 30% 85%;
    --muted-foreground: 357 5% 35%;
    --accent: 319 30% 80%;
    --accent-foreground: 357 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 357 5% 90%;
    --border: 357 30% 50%;
    --input: 357 30% 80%;
    --ring: 357 60.9% 57.8%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 357 50% 5%;
    --foreground: 357 5% 90%;
    --card: 357 50% 0%;
    --card-foreground: 357 5% 90%;
    --popover: 357 50% 5%;
    --popover-foreground: 357 5% 90%;
    --primary: 357 60.9% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 357 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 319 30% 15%;
    --muted-foreground: 357 5% 60%;
    --accent: 319 30% 15%;
    --accent-foreground: 357 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 357 5% 90%;
    --border: 357 30% 18%;
    --input: 357 30% 18%;
    --ring: 357 60.9% 57.8%;
    --radius: 0.5rem;
  }
  
  
}