<!doctype html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <title>Bekräfta din e-postadress för Entrén</title>
  </head>
  <body>
    <h1>Bekräfta din e-postadress</h1>
    <p>Hej!</p>
    <p>
      Tack för att du registrerar dig på Entrén - plattformen som gör det
      enklare att hitta tillgänglig information om entréer.
    </p>
    <p>
      För att slutföra din registrering och börja använda Entrén, vänligen
      bekräfta din e-postadress genom att klicka på länken nedan:
    </p>
    <a
      href="{{ .SiteURL }}/api/auth/confirm?token_hash={{ .TokenHash }}&type=signup&next={{ .RedirectTo }}"
      >Bekräfta min e-postadress</a
    >
    <p>
      Om du inte har registrerat dig på Entrén kan du ignorera detta meddelande.
    </p>
    <p>
      Vi ser fram emot att välkomna dig till vår gemenskap där vi tillsammans
      arbetar för ökad tillgänglighet!
    </p>
  </body>
</html>
