<!doctype html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <title>Entrén - Återställ lösenord</title>
  </head>
  <body>
    <h2>Återställ ditt lösenord för Entrén</h2>

    <p>Hej!</p>

    <p>Vi har fått information att du glömt ditt lösenord till Entrén. Det är enkelt åtgärdat.</p>

    <p>För att skapa ett nytt lösenord till Entrén, klicka på länken nedan:</p>

    <p>
      <a href="{{ .SiteURL }}/api/auth/confirm?token_hash={{ .TokenHash }}&type=recovery&next={{ .RedirectTo }}"
        >Återställ lösenord</a
      >
    </p>
    <p>Om länken inte fungerar, prova att kopiera och klistra hela länken till din webbläsares adressfält.</p>

    <p>Har du några frågor, kontakta vår support på support@entren.se som besvarar frågor under kontorstid på vardagar.</p>

    <p>Hälsningar,<br />Entrén</p>
  </body>
</html>
